<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>   User List  </title>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/auth.js"></script>

</head>
<body><!--Pulling Awesome Font -->


<div class="not-logged-in container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" id="login-form" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" id="loginPortal" type="submit" value="Login">
                        <a class="btn btn-lg btn-success btn-block" id="toIntro" href="/intro" type="button">Create an account</a>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="logged-in">
    <h1>"Those two, in paradise, were given a choice: happiness without freedom, or freedom without happiness. There was no third alternative."</h1><h2>Yevgeny Zamyatin, <u>We</u> </h2>
    <a class="btn btn-lg btn-success btn-block" id="logout" href="/" type="button">Logout User</a>
    <a class="btn btn-lg btn-success btn-block" href="/wall" type="button">Back to the action</a> 
</div>
<div class="not-logged-in">
    <h1></h1>    
</div>
</body>
</html>