<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>		Dystopia	</title>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/auth.js"></script>

</head>
<body>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron text-right">
                <div id="intro">
                     <h1>The situation is as follows:  <small>_____  intro</h1></small>
                       <p>A runaway consumer culture and obsession upon immediate gratification have left the public at large fixated with the acquisition of capital, material, and social standing. Rumors persist of a secret cabal of motivated and idealistic individuals who seek to loosen the grip of a consumerist ideology. You have received a cryptic piece of information from these rebels, calling themselves Project Mayhem, and have been seeking to join their ranks. That is, if they do in fact exist.</p>
                       <p> <a class="btn btn-primary btn-lg" role="button" id="toIntro1">Enter the fray</a></p>
                </div>
    
                <div id="intro1">
                   <p>After several weeks of following rumors to seemingly dead ends, you are contacted by an individual claiming to respresent Project Mayhem.</p>
    
                    <p>He wears nondescript black clothes and a hood that
conceals all but his face, and gives you a time and place to be in order to
begin your formal indoctrination. Once you confirm you understand your
instructions, he takes his leave.  </p>                     <br/>
<h2>*   *  *</h2>                     <br/>                     <p>At the
rendezvous, you see him waiting with an associate, both wearing black slacks and
t-shirts. Upon your arrival, they greet you aloofly, obviously sizing you up.
After a brief round of questioning, they announce you are free to coninue your
entry process, but in order to do so you must first agree to be drugged and
accompany them elsewhere.</p>                     <br>
    
                    <p>You are welcome to refuse, but if you do, Project Mayhem will be closed to you forever. This is your only chance.</p>
                     <br>
                     <p><a class="btn btn-primary btn-lg" role="button" id="toIntro2">Continue</a></p>
                     <p><a class="btn btn-primary btn-lg" role="button" id="bowOut">On second thought...</a></p>
                     </p>
                </div>
                <div>
                    <p></p>
                </div>
                <div id="intro2">
                    <p>You agree, nervously. All manner of worst-case scenarios run through your mind, but you find your resolve.</p>

                    <p>They tell you the drug is a pschotomimetic, and it will make it almost impossible for you to form or maintain complicated lies, in the event you are a member of the State's Secret Police.</p>
                    <p>The plan is thus: they will effectively dose you, load you in a van heading for an undisclosed location, and question you further. If they are satisfied with your performance, you will become an initiated member of Project Mayhem, and then the real work will begin. </p>
                    <p>"Are you prepared?"</p>
                    <p><a class="btn btn-primary btn-lg toIntro3" role="button" id="toIntro3">Continue</a></p>
                    <p><a class="btn btn-primary btn-lg toIntro3" role="button" id="woah">"Wait, what did he just say?"</a></p>

                </div>
                <div id="intro3">
                    <p>Very suddenly, before you can tell what has happened, a spray bottle emerges in an agent's hand and is sprayed directly in to your face.</p>

                    <p>You curse, but not before you take a panicked breath of the narcotic. Things are already starting to get fuzzy. You try to steady yourself, coming to grips with the situation. The agents help you as your balance begins to falter.</p>

                    <p>They lead you gently to a van idling around the corner. Once all of you board into the back, the driver pulls out. You are already too disoriented to track where you are going. In the back of the van, the men ask you your name.</p>
                    <form id="form1">
                        <input type="email" id="yremail" name="email" placeholder="your email address" required>
                        <input type="submit" class="btn btn-primary btn-lg" role="button" id="toIntro4" value="Continue">
                    </form>
                </div>
                <div id="intro4">
                    <p>You mumble your full name, which seems to satisfy them. The outside world is blurring past in vivid colors. The drug begins to take hold.</p>
                    <p>In a voice that seems strangely melodic, you are asked to confirm your identity using your State Security Number.</p>
                    <form id='form2'>
                        <input type="password" id="pass1" name="password" required>
                        <input type="submit" class="btn btn-primary btn-lg" id="toIntro5" value="Continue">
                    </form>
                </div>
                <div id="intro5">
                    <p>You incoherently slur your personal information. The men in the van didn't seem to be able to understand.</p>
                    <p>They gently ask you to repeat yourself, explaining that they need this information to verify that you are who you say you are and not, in fact, a member of the state's secret police.</p>
                    <p>They remind you to enunciate as best you can.</p>
                    <form id="form3">
                        <input type="password" id="pass2" name="password" required>
                        <input type="submit" class="btn btn-primary btn-lg" id="toIntro6" value="Continue">
                    </form>
                </div>
                    <!-- this one is just in case the passwords don't match, in which case, the dissidents kill the character -->
                <div id="kill1">
                    <p>You can only assume the dissidents did not like your answers. They make eye-contact with one another briefly, exchange a subtle nod, and then blur into motion. One throws open the door of the van, while the other grabs you by the scruff of your neck. You struggle weakly, but even if you weren't drugged, the guy seems pretty strong, and not at all unfamiliar with throwing people out of moving vehicles.</p>
                    <p>Regardless, you do not do a very good job of defending yourself. You end up sailing out of the van before you know what has happened. You hit the pavement, hard, and tumble to stop. You've broken quite a few bones, and ruptured your spleen. Disoriented, drugged, and mortally injured, you quietly die in the ditch by the side of the road.</p>
                    <a class="btn btn-primary btn-lg killedOff" role="button">Thanks for playing!</a>
                </div>
                <div id="intro6">
                    <p>You realize that you have lost track of time. As the van drives around, you know not where, you cannot begin to guess how much time has passed. You also seem unable to recount what you and these people have been talking about.</p>

                    <p>They tell you that members of Project Mayhem do not have names. A nihilistic secret society that shuns the idea of identity, possession, and glory. The man who first approached is to serve as your handler, something of a mentor figure as they continue to monitor your progress during your first two weeks. They call it your 'trial.'</p>
                    <p> Your handler will serve as your sole connection to Project Mayhem during the course of your trial. You are to follow his lead, and do as he says until your introductory period is finished.</p>
                    <form id="form4">
                        <a role="button" class="btn btn-primary btn-lg" id="toIntro7" >He continues</a>
                    </form>
                </div>
                <div id="intro7">
                    <p>You can feel your wits returning to you, slowly but surely. The atmosphere remains relaxed. You reassess your location, and find the van seems on its way back to where you were picked up. It would appear that the interview is almost concluded.</p>
                    <p>Your handler begins enumerating the rules of the organization. There are only five.</p>
                    <ol>
                        <li>You do not ask questions about Project Mayhem.</li>
                        <li>You do not ask questions about Project Mayhem!</li>
                        <li>No Excuses</li>
                        <li>No Lies</li>
                        <li>You have to trust Tyler Durden.</li>
                    </ol>

                    <p>You think to ask who the hell Tyler Durden is, but think better of it, considering the first two rules. As the van slows, and then stops, your handler tells you that they will run your information the following day, and will be contacting you some time in the next week. Once you are cleared, Project Mayhem will destroy any personal information they have on you so that, in the event of infiltration, you and others won't be compromised.</p>
                     <a id="finish" class="btn btn-primary btn-lg" role="button" >Finish initiation</a>
                </div>

                <div id="intro8">
                    <p>One of the unnamed members opens the door when the van has stopped, and you hop out, just where you got on. They drive off casually, without so much as a farewell.</p>
                    <p>The narcotic has been all but metabolized. You feel drained, and slightly nauseous, but otherwise unaffected. The hour has gotten quite late, and you head for your home. The interview lasted almost an hour exactly</p>
                    <p>You arrive at home, where you live alone, and enter. Upon the table rests an envelope addressed to you, that you know for a fact was placed there by someone else.</p>
                    <a id="invAprt" class="btn btn-primary btn-lg" role="button" >Investigate the apartment</a>
                    <a id="invEnv" class="btn btn-primary btn-lg" role="button" >Invetsigate the envelope</a>
                    <a id="opnEnv" class="btn btn-primary btn-lg" role="button" >Open the envelope</a>
                </div>
                <div id="signup-form">
                    <form id="signUp">
                        <input type="email" name="emailz" id="emailSignup" value="">
                        <input type="password" name="passwordz" id="passwordSignup" value="">
                        <input type="submit" role="button" id="makeUser" >
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>