<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>		Initiation	</title>
    <script type="text/javascript" src="/static/js/app.js"></script>

</head>
<body>

<div class="container-fluid">
<div class="row">
<div class="jumbotron text-right">
  <h1> User's page!</h1>

  <br>
  <% if(user){ %>
  <div id="remove-user" data-id="<%= user.id%>"></div>
  <%= user %>


  <% } %>
</div>
</div>
</div>
</body>
</html>
	

