<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/wall.css">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <!-- APPLICATION SCRIPTS -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/wall.js"></script>
    <script src="/static/js/auth.js"></script>
  </head>

  <!-- -->
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 intro">
          <h1>The situation is as follows:</h1>


          <h2></h2>
          <p>this is mission control, where the protaganist will select different campaigns</p>
          <p>this is filler text, to set the tone, and provide backstory.</p>
        <h2> This is where you find yourself.</h2>
        <!-- <p>You only have a few moments to leave a message to your brothers and sister-in-arms. Before you lies the previous messages you see below.</p> -->
        </div>
      </div>
    </div>
    <div class="container commentBox">
        <div class="col-lg-4 col-sm-6 text-center">
            <button id="help">?</button>
            <div class="well">
                <div class="input-group">
                    <form name="myForm" id="tag" action="" method="">what will you tag? <br>
                      <input type="radio" name="paint" value="paint1" checked><a class="paint1">red</a>
                      <input type="radio" name="paint" value="paint2"><a class="paint2">blue</a>
                      <input type="radio" name="paint" value="paint3"><a class="paint3">yellow</a>
                      <input type="radio" name="paint" value="paint4"><a class="paint4">white</a>
                      <input id="inputbox" type="text" name="inputbox" value="" required><p>
                      <input type="submit" name="button" value="bomb">
                    </form>
                </div>
                <hr data-brackets-id="12673">
                <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                    </br>
                    <li class="ui-state-default paint1">FUCK POLICE SONNYBOI</li>
                    </br>
                    <li class="ui-state-default paint3">GOOD DAMN TINY</li>
                    </br>
                    <li class="ui-state-default paint1">SEE ANIMAL KINGKRON</li>
                    </br>
                    <li class="ui-state-default paint4">BAD WOLF GIOVANNI</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <div class="input-group coder">
                <form>
                    <input class="codeRing" id="decoderRing"  type="text" placeholder="decode">
                    <input class="codeRing" id="encoderRing" type="text" placeholder="encode">
                    <input type="submit" id="codify" value="">Translation</button>
                </form>
             </div>
            <hr data-brackets-id="12673">
        </div>    
    </div>
    <br>
    <!-- here is the button to explain the signifigance of the colors-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>What was that noise?</p>
  </body>
</html>