/*{border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px}*/
.jumbotron h1 small{display:block}

.jumbotron { text-align: justify; margin: 0 auto;}
.jumbotron a {display:block; width:250px; margin-right: auto; margin-left: auto; border-radius: 10px;}
.jumbotron input {display:block; width:250px; margin-right: auto; margin-left: auto; border-radius: 10px;}

body {
background: black;
}

h2 {
	font-size: 25px;
	text-align: center;
}

input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	padding: 10px;
	border-radius: 10px;

}

#remove-user {
	width: 75px;
	height: 75px;
	background: red;
	border-radius: 100px;
}

/* the login screen  */
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
#splash {
    background-image: url("/static/img/temple.jpg");
}
